<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
 
  </head>
  <body>
    <div class="body-overlay">

      <main class="show-main">
        <h1>show foods page </h1>
        <h2><%= food.name %></h2>
        <img src=<%= food.image + ".png"%>>
        <h3>$<%= food.price %></h3>
        <a href="/drinks" class="back-btn">go back</a>
      </main>
    </div>
  </body>
</html>
